body, html{
    height: 100%;
}

.fondo {
    background-image: url("../imagenes/matrix-acceso-denegado.jpg");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}